p{color:rgb(229, 206, 3);}
body {background-color: #FEC7B4;}
button {background-color: #FFF3C7;
    color:rgb(17, 17, 16);}
div {background-color: #F7418F;}
.tyoo{color: rgb(253, 218, 223);}
h1{text-align: center ; background-color:#FFF3C7;
border-style: solid; border-width: 6px;}
h6{color: rgb(229, 206, 3);}
textarea{background-color: #FFF3C7;}
a{color:#F7418F}
div{background-color: #FC819E; border-style: double; border-color: #007F73; border-width: 6px;}